{{template "base" .}}

{{define "title"}}About{{ end }}

{{define "main"}}
  <h2>About</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum perspiciatis officia eum. Odit saepe excepturi repudiandae facilis ipsam aliquid, porro repellendus nam eius ut maxime dolor dicta delectus, minus eveniet.</p>
{{ end }}
